# ðŸ§º Online Retail Dataset (Apriori Preprocessing) - TASK 2
**Dataset**: https://www.kaggle.com/datasets/vijayuv/onlineretail

# Step 1: Load Data

In [15]:
import pandas as pd

In [16]:
df=pd.read_csv("OnlineRetail.csv",encoding='ISO-8859-1')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [17]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

# Step 2: Drop Missing Invoices or Descriptions

In [18]:
df.dropna(subset=['InvoiceNo', 'Description'], inplace=True)

In [19]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133626
Country             0
dtype: int64

# Step 3: Remove Canceled Invoices <BR> Start with letter 'c'

In [21]:
df.drop(df[df['InvoiceNo'].str.startswith('C')].index, inplace=True)

In [23]:
tocheck = df[df['InvoiceNo'].str.startswith('C')]
print(tocheck)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country]
Index: []

# Step 4: Keep Only Positive Quantities

In [29]:
df = df[df['Quantity'] > 0].copy()
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France

# Step 5: Standardize Item Descriptions | Lower case and remove space

In [31]:
df['Description'] = df['Description'].str.lower().str.strip()

df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France

# Step 6: Filter for a Single Country (e.g., United Kingdom)

In [34]:
uk = df[df['Country'] == 'United Kingdom']
uk

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

# Step 7: Remove Duplicates

In [37]:
dup=df.drop_duplicates(inplace=True)
print(dup)

None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

# Step 8: Add TotalPrice column , TotalPrice = Quantity *  UnitPrice

In [38]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France,14.85

Description
mini paint set vintage                26633
rabbit night light                    30739
assorted colour bird ornament         36362
pack of 72 retrospot cake cases       36396
popcorn holder                        36749
white hanging heart t-light holder    37876
jumbo bag red retrospot               48375
world war 2 gliders asstd designs     54951
medium ceramic top storage jar        78033
paper craft , little birdie           80995
Name: Quantity, dtype: int64

# Step 9 : Check for Top 10 Selling Products

In [41]:
topproducts = df.groupby('Description')['Quantity'].sum().sort_values().tail(10)
print(topproducts)

Description
mini paint set vintage                26633
rabbit night light                    30739
assorted colour bird ornament         36362
pack of 72 retrospot cake cases       36396
popcorn holder                        36749
white hanging heart t-light holder    37876
jumbo bag red retrospot               48375
world war 2 gliders asstd designs     54951
medium ceramic top storage jar        78033
paper craft , little birdie           80995
Name: Quantity, dtype: int64

# Step 10 : Identify Most Active Customers

In [46]:
actuser = df.groupby('CustomerID')['InvoiceNo'].sum().sort_values().tail(10)
print(actuser)

CustomerID
16000.0    5811055811055811055811055811055811055811055811...
15195.0                                               581115
14087.0    5811255811255811255811255811255811255811255811...
14204.0    5811425811425811425811425811425811425811425811...
15471.0    5811495811495811495811495811495811495811495811...
13436.0    5812335812335812335812335812335812335812335812...
15520.0    5812415812415812415812415812415812415812415812...
13298.0                                         581385581385
14569.0    5814165814165814165814165814165814165814165814...
12713.0    5815785815785815785815785815785815785815785815...
Name: InvoiceNo, dtype: object

# Step 11: Time-Based Analysis | Convert InvoiceDate to datetime and check popular months/hours.

# Step 12: Convert to Basket Format

Example
<table border="1">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Milk</th>
            <th>Bread</th>
            <th>Butter</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>T1</td><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>T2</td><td>0</td><td>1</td><td>1</td></tr>
        <tr><td>T3</td><td>1</td><td>0</td><td>0</td></tr>
        <tr><td>T4</td><td>1</td><td>1</td><td>0</td></tr>
        <tr><td>T5</td><td>0</td><td>1</td><td>1</td></tr>
    </tbody>
</table>

Description,*boombox ipod classic,*usb office mirror ball,10 colour spaceboy pen,12 coloured party balloons,12 daisy pegs in wood box,12 egg house painted wood,12 hanging eggs hand painted,12 ivory rose peg place settings,12 message cards with envelopes,12 pencil small tube woodland,...,zinc star t-light holder,zinc sweetheart soap dish,zinc sweetheart wire letter rack,zinc t-light holder star large,zinc t-light holder stars large,zinc t-light holder stars small,zinc top 2 door wooden shelf,zinc willie winkie candle stick,zinc wire kitchen organiser,zinc wire sweetheart letter tray
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
581586,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563185,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563186,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
A563187,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Step:13 : Save Basket Format into CSV file